*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif'
}
.body{
  width: 100%;
}
.container{
height: 100vh;
width: 100%;
position: relative;
}
.wrapper{
  position: absolute;
  display: inline-block;
  top:  10%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 20%;
  min-width: 250px;
  border:1px solid rgb(234, 234, 234);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.header{
  background: rgb(234, 234, 234);
}
.task{
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgb(234, 234, 234);
  position: relative;
  margin: 10px auto 0;
  padding: 10px 0;

}
.task div{
  border:2px solid rgb(138, 154, 155); 
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0%;
  top: 40%;
  transform: translate(30%,-30%);

}
nav{
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: rgb(93, 107, 121);
  padding: 7px 0;
}
h1{
  font-size: 24px;
  font-weight: 600;
}
.fa-bars{
  font-size: 24px;
  transition: all .3s;
}
.fa-bars:hover{
  color: rgb(93, 107, 121);
  cursor: pointer;
}
.circle{
  border-radius: 50%;
  width: 4%;
  border: 2px solid rgb(68, 67, 67);
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  font-size: 18px;
  transition: 0.2s;
  user-select: none;
  left: 2.4%;
}
ul {
  margin: 0;
  padding: 0;
}

ul li.checked {

  color: rgb(8, 199, 49);
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: rgb(8, 199, 49);
  border-style: solid;
  border-width: 0 4px 4px 0;
  top: 12px;
  left: 15px;
  transform: rotate(45deg);
  height: 11px;
  width: 6px;
}
 #toggling{
  position: fixed; 
 } 
 .addTasks{
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgb(234, 234, 234);
  position: relative;
  margin: 10px auto 0;
  padding: 10px 0;

 }
 .addTasks input{
   border: 2px solid rgb(8, 199, 49);
   padding: 7px 5px;
 }
 .addTasks input::placeholder{
  font-size: 1em;
  color: rgb(93, 107, 121);
  cursor: pointer;
  transition: 0.2s;
  
 }
 .addBtn{
  position: relative;
  margin: auto;
  cursor: pointer;
  padding: 7px 5px;
  
 }
 .addBtn:hover{
   background-color:rgb(193, 197, 201);
  
 }
 
 