<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>FORM 1</title>
   <style>
      
   
   </style>

</head>

<body style="background-color: teal;">
<div>
   <h1 style="color: white; text-align: center; ">Easy Contact Form</h1>
</div>
   <form>
<fieldset style="width: 45%;margin-left: 27%;margin-top: 2%;height: 500px; background-color: white">
   <h2 style="margin-left: 24%">Send Us Some Electronic Mail</h2>
   
<label style="margin-left: 8%">Name
   <input type="text" name="name" style="width: 80% ;margin-top: 3% ;height: 30px">
</label><br>
<label style="margin-left: 4%">Company
   <input type="text" name="company" style="width: 80%; margin-top: 2%;height: 30px;">
</label><br>
<label style="margin-left: 7.9%">Email
   <input type="email" name="email" style="width: 80%; margin-top: 2%;height: 30px;">
</label><br>
<label style="margin-left: 7.5%">Phone
   <input type="tel" name="phone" style="width: 80%; margin-top: 2%;height: 30px;">
</label><br>
<label style="margin-left: 4.9%">Message
   <input type="text" name="message" style="width: 80%; margin-top: 2%;height: 150px;">
</label>
   <input type="submit" value="Send Message" style="margin-top: 2%; margin-left: 35%;height:40px;width: 30%;color: white;background-color:teal">
</fieldset>
</form>
<footer><p style="color: white;text-align: center">&#9400 2016 Easy Contact Form. All rights reserved | Design by W3Layouts</p></footer>


</body>

</html>